img {
  transition: 0.3s;
}

@media (min-width: 768px) {
  img:hover {
    transform: scale(1.05);
  }
}

#menu {
  a {
    color: white;
  }

  a:hover {
    color: rgb(213, 213, 213);
  }

  span {
    margin: 0 0 0 5px;
  }
}

#categories {
  img {
    background-color: white;
    max-width: 450px;
  }

  .text {
    text-align: justify;
    margin: 10px 20px 10px 20px;
  }
}
