#home {
  #menu {
    a {
      color: white;
    }

    a:hover {
      color: rgb(213, 213, 213);
    }

    span {
      margin: 0 0 0 5px;
    }
  }

  #categories {
    img {
      transition: 0.3s;
      background-color: white;
      max-width: 450px;
    }

    @media (min-width: 768px) {
      img:hover {
        transform: scale(1.05);
      }
    }
  }
}

#products {
  img {
    background-color: white;
  }
}
